/* 
/* IMPORT FONTS: */

/* Poppins: */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
/* Montserrat: */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap'); */

/* Michroma: */

/* @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); */

/* Xanh Mono: */

/* @import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap'); */

/* Xanh Mono: */

/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

/* Space Mono: */

/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

/* Syne: */

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* SECTION Define Variables: */

:root {
    /* SANS SERIF FONT VARIABLES: */
    /* --fancy-font-family: 'Xanh Mono', monospace;
--fancy-font-family: 'VT323', monospace; */
    /* --fancy-font-family: 'Michroma', sans-serif; */
    /* --fancy-font-family:'Space Mono', monospace;  */
    /* --fancy-font-family:'Poppins', monospace;  */
    --fancy-font-family: 'Syne', sans-serif;
    /* FANCY FONT VARIABLES: */
    --main-font-family: 'Poppins', sans-serif;
    /* --main-font-family: 'Montserrat', sans-serif; */
    /* --main-font-family: 'Michroma', sans-serif; */
    /*Shadow Variables:*/
    --txt-neon-glow: 0px 0px 0.5em var(--neon-green-color);
    --shadow-color: #000000;
    --shadow-alpha: 0, 0, 0;
    /*DARK MODE:****************************/
    --normal-background: url("images/Backgrounds/dark_background.jpg") no-repeat center var(--dark-color);
    --smaller-background: url("images/Backgrounds/dark_smaller_background.jpg") no-repeat center var(--dark-color);
    --smallest-background: url("images/Backgrounds/dark_smallest_background.jpg") no-repeat right var(--dark-color);
    --test-color: #ffff00;
    --test-alpha: 255, 255, 0;
    --neon-green-color: #00ffb3;
    --neon-green-alpha: 0, 255, 179;
    --blue-color: #65a8ff;
    --blue-alpha: 101, 168, 255;
    --light-color: #A6ACCD;
    --light-alpha: 166, 172, 205;
    --dark-color: #2a2e3f;
    --dark-alpha: 42, 46, 63;
    --darker-color: #202331;
    --darker-alpha: 32, 35, 49;
    --darkest-color: #0c0c1d;
    --darkest-alpha: 12, 12, 29;
    --black-color: #000000;
    --black-alpha: 0, 0, 0;
    --theme-symbol: "\f185";
    --theme-name: "  Light";
}

/*LIGHT MODE:****************************/

[data-theme="light"] {
    --normal-background: url("images/Backgrounds/light_background.jpg") no-repeat center var(--dark-color);
    --smaller-background: url("images/Backgrounds/light_smaller_background.jpg") no-repeat center var(--dark-color);
    --smallest-background: url("images/Backgrounds/light_smallest_background.jpg") no-repeat right var(--dark-color);
    --test-color: rgb(255, 0, 212);
    --test-alpha: 255, 255, 0;
    --neon-green-color: #2600af;
    --neon-green-alpha: 0, 66, 53;
    --blue-color: #006eff;
    --blue-alpha: 101, 168, 255;
    --light-color: #001027;
    --light-alpha: 0, 23, 56;
    --dark-color: #d8e5f8;
    --dark-alpha: 216, 229, 248;
    --darker-color: #bfd4f2;
    --darker-alpha: 191, 212, 242;
    --darkest-color: #a1c1ec;
    --darkest-alpha: 161, 193, 236;
    --black-color: #ffffff;
    --black-alpha: 255, 255, 255;
    --theme-symbol: "\f186";
    --theme-name: "  Dark";
}

/*THEME TOGGLE slider switch css */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.theme-switch {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    position: relative;
    width: auto;
    align-items: flex-end;
}

.theme-switch input {
    display: none;
}

.slider {
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
    transition: all 1s;
}

.slider:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: var(--theme-symbol);
    font-size: 14px;
    position: relative;
    transition: 0.4s;
}

.slider:hover:before {
    color: var(--neon-green-color);
}

.slider:after {
    content: var(--theme-name);
    font-size: 16px;
    position: relative;
    transition: 0.4s;
    font-family: var(--fancy-font-family);
}

.slider:hover:after {
    font-style: italic;
    color: var(--neon-green-color);
}

/* !SECTION */

/* ScrollBar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--shadow-color);
    background: var(--dark-color);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #7c83ad;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, var(--neon-green-color), var(--blue-color));
}

::selection {
    background: var(--neon-green-color);
    /* WebKit/Blink Browsers */
    color: var(--darkest-color);
}

::-moz-selection {
    background: var(--neon-green-color);
    /* Gecko Browsers */
    color: var(--dark-color);
}

/*SECTION  Global Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 10px;
    font-family: var(--main-font-family);
    color: var(--light-color);
}

header, body {
    background: var(--normal-background);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header {
    background: linear-gradient(rgba(var(--darkest-alpha), 0), rgba(var(--darkest-alpha), 0), rgba(var(--darkest-alpha), 0.7))
}

#about {
    background: linear-gradient(rgba(var(--darkest-alpha), 0.7), rgba(var(--darkest-alpha), 1))
}

#uniprojects {
    background: linear-gradient(var(--darkest-color), var(--dark-color));
}

#sideprojects {
    background: linear-gradient(var(--dark-color), var(--dark-color));
}

#art {
    background: linear-gradient(var(--dark-color), rgba(var(--darkest-alpha), 1), rgba(var(--darkest-alpha), 1));
}


#graphics {
    background: rgba(var(--darkest-alpha), 1);
}

#experience {
    background: linear-gradient( rgba(var(--darkest-alpha), 1), rgba(var(--dark-alpha), 0.5));
    padding-bottom: 15rem;
}

#skills {
    background: rgba(var(--darkest-alpha), 0.6);
    box-shadow: 0 8px 8px rgba(var(--shadow-alpha), 0.5);
    margin-bottom: 5rem;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: var(--blue-color);
}

a:hover {
    color: var(--neon-green-color);
}

p {
    font-size: 1.6rem;
    font-weight: 300;
}

img {
    width: 100%;
    border-radius: 1rem;
    /* box-shadow: 8px 8px 8px rgba(var(--shadow-alpha), 0.6); */
}

video {
    width: 100%;
    border-radius: 1rem;
    /* box-shadow: 8px 8px 8px rgba(var(--shadow-alpha), 0.6); */
}

/*!SECTION End global*/

/*Start reusable*/

.container {
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
}

.section-heading h1 {
    font-family: var(--fancy-font-family);
    font-size: 10rem;
    color: var(--light-color);
    font-weight: 300;
    position: relative;
    line-height: 10rem;
    font-weight: 600;
}

.section-heading h6 {
    font-size: 2.4rem;
    font-family: var(--fancy-font-family);
    color: var(--light-color);
    opacity: 60%;
    font-weight: 100;
    padding-top: 1ch;
    padding-bottom: 4ch;
}

.has-margin-right {
    margin-right: 5rem;
}

/*End reusable*/

/*Start header*/

header {
    width: 100%;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
}

.progress-container {
    background-color: rgba(0, 0, 0, 0.3);
    height: 4px;
    width: 100%;
}

.progress-bar {
    background: linear-gradient(to left, var(--neon-green-color), var(--blue-color));
    height: 4px;
    width: 0%;
    border-radius: 0px 2px 2px 0px;
}

/* Theme toggler: */

/* Navbar: */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(var(--darkest-alpha), 0.3);
    text-align: center;
    z-index: 100;
    box-shadow: 0px 6px 6px rgba(var(--shadow-alpha), 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    text-transform: uppercase;
    border-bottom: 2px solid rgba(var(--shadow-alpha), 0.2)
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-link {
    font-family: var(--fancy-font-family);
    font-size: 1.6em;
    position: relative;
    color: var(--light-color);
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.navbar-link:hover, .navbar-link:focus {
    background-color: rgba(var(--darkest-alpha), 1);
    color: var(--neon-green-color);
    font-style: italic;
}

.navbar {
    transform: translateY(-100px);
    animation: 1s forwards 0s 1 slideInFromTop;
    -webkit-animation: 1s forwards 0s 1 slideInFromTop;
    -o-animation: 1s forwards 0s 1 slideInFromTop;
    -moz-animation: 1s forwards 0s 1 slideInFromTop;
    -ms-animation: 1s forwards 0s 1 slideInFromTop;
}

.navbar-item1 {
    transform: translateY(-100px);
    animation: 1s forwards 100ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 100ms 1 slideInFromTop;
    -o-animation: 1s forwards 100ms 1 slideInFromTop;
    -moz-animation: 1s forwards 100ms 1 slideInFromTop;
    -ms-animation: 1s forwards 100ms 1 slideInFromTop;
}

.navbar-item2 {
    transform: translateY(-100px);
    animation: 1s forwards 300ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 300ms 1 slideInFromTop;
    -o-animation: 1s forwards 300ms 1 slideInFromTop;
    -moz-animation: 1s forwards 300ms 1 slideInFromTop;
    -ms-animation: 1s forwards 300ms 1 slideInFromTop;
}

.navbar-item3 {
    transform: translateY(-100px);
    animation: 1s forwards 500ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 500ms 1 slideInFromTop;
    -o-animation: 1s forwards 500ms 1 slideInFromTop;
    -moz-animation: 1s forwards 500ms 1 slideInFromTop;
    -ms-animation: 1s forwards 500ms 1 slideInFromTop;
}

.navbar-item4 {
    transform: translateY(-100px);
    animation: 1s forwards 700ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 700ms 1 slideInFromTop;
    -o-animation: 1s forwards 700ms 1 slideInFromTop;
    -moz-animation: 1s forwards 700ms 1 slideInFromTop;
    -ms-animation: 1s forwards 700ms 1 slideInFromTop;
}

.navbar-item5 {
    transform: translateY(-100px);
    animation: 1s forwards 900ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 900ms 1 slideInFromTop;
    -o-animation: 1s forwards 900ms 1 slideInFromTop;
    -moz-animation: 1s forwards 900ms 1 slideInFromTop;
    -ms-animation: 1s forwards 900ms 1 slideInFromTop;
}

.navbar-item6 {
    transform: translateY(-100px);
    animation: 1s forwards 1100ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1100ms 1 slideInFromTop;
    -o-animation: 1s forwards 1100ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1100ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1100ms 1 slideInFromTop;
}

.navbar-item7 {
    transform: translateY(-100px);
    animation: 1s forwards 1300ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1300ms 1 slideInFromTop;
    -o-animation: 1s forwards 1300ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1300ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1300ms 1 slideInFromTop;
}

.navbar-item8 {
    transform: translateY(-100px);
    animation: 1s forwards 1500ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1500ms 1 slideInFromTop;
    -o-animation: 1s forwards 1500ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1500ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1500ms 1 slideInFromTop;
}

.navbar-item9 {
    transform: translateY(-100px);
    animation: 1s forwards 1700ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1700ms 1 slideInFromTop;
    -o-animation: 1s forwards 1700ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1700ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1700ms 1 slideInFromTop;
}

.navbar-item10 {
    transform: translateY(-100px);
    animation: 1s forwards 1900ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1900ms 1 slideInFromTop;
    -o-animation: 1s forwards 1900ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1900ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1900ms 1 slideInFromTop;
}
/* hamburger menu */

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -150vh;
    z-index: 50;
    background-color: rgba(var(--darkest-alpha), 0.8);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 1rem;
}

.nav-link {
    font-family: var(--fancy-font-family);
    font-size: 4rem;
    padding: 1rem;
    font-weight: 500;
}

.nav-link:hover, .nav-link:focus {
    color: var(--neon-green-color);
    font-style: italic;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.mobile-nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 60px;
    z-index: 12;
    background: rgba(var(--darkest-alpha), 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 5px 5px rgba(var(--shadow-alpha), 0.7);
    justify-content: center;
}

.mobile-theme-switcher {
    position: fixed;
    top: 1.6rem;
    left: 2rem;
    width: 3.2rem;
    height: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transition: transform 650ms ease-out;
    display: none;
}

.menu-toggler {
    position: fixed;
    top: 1.4rem;
    right: 2rem;
    width: 3.2rem;
    height: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.menu-toggler {
    display: none;
}

.bar {
    background: linear-gradient(to right, var(--neon-green-color), var(--blue-color));
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.perspective {
    perspective: 6000px;
    perspective-origin: -100% 150%;
    position: absolute !important;
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.oops-text {
    font-family: var(--fancy-font-family);
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    text-align: center;
}

.oops-text h1 {
    font-weight: 800;
    font-size: xx-large;
}

.oops-text h2 {
    font-weight: 500;
    font-size: large;
}

.hero-text {
    position: relative;
    top: 25%;
    right: 23%;
    /* hero text primary parent container: */
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 600px;
    /* all hero text formats: */
    font-family: var(--fancy-font-family);
    font-size: 3rem;
    color: #4e5472;
    font-weight: 700;
    transform-style: preserve-3d;
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(45deg) rotateY(0deg) rotateZ(-40deg) translateX(0) translateY(0) translateZ(0rem);
}

.hero-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.middle {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    margin: auto;
    height: auto;
    width: 100%;
    text-align: center;
}

.txt-rotate {
    color: var(--blue-color);
}

.hero-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.hero-name {
    display: flex;
    justify-content: center;
    text-justify: left;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 7rem;
    font-weight: 900;
}

.elevated-text {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0px) skew(-20deg);
    z-index: 2;
    font-size: 72px;
    color: var(--light-color);
    /* background: -webkit-linear-gradient(var(--neon-green-color), var(--blue-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; */
    /* color: #56e4fd; */
}

.shadow {
    position: absolute;
    transform-style: preserve-3d;
    transform: translateX(-65px) translateY(-46px) translateZ(-10px) scaleY(2) skewX(60deg);
    z-index: -1;
    color: rgba(var(--shadow-alpha), 0);
    text-shadow: 0px 0px 5px rgba(var(--shadow-alpha), 0.2);
    user-select: none;
}

.reflection {
    position: absolute;
    transform-style: preserve-3d;
    transform: translateX(0px) translateY(4px) translateZ(-20px)scaleX(1) scaleY(0.4) skewX(20deg);
    z-index: -1;
    color: rgba(var(--light-alpha), 0);
    text-shadow: 0px 0px 5px rgba(var(--blue-alpha), 0.4);
    text-shadow: 0px 0px 5px rgba(0, 247, 255, 0.2);
    user-select: none;
}

.card-container {
    position: relative;
    display: flex;
    align-items: top;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    height: min-content;
}

.card-container .card {
    position: relative;
    width: 200px;
    height: 100%;
    margin: 1.5rem;
    box-shadow: -10px -4px 2px rgba(var(--shadow-alpha), 0.3);
    background: rgba(var(--darkest-alpha), 0.2);
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
    border-right: 1px solid rgba(var(--neon-green-alpha), 0.1);
    border-radius: 10px;
    border-bottom: 3px solid rgba(var(--blue-alpha), 0.3);
    /* border-left: 6px solid rgba(var(--darkest-alpha), 0.3); */
}

.card-container .card .card-content {
    padding: 15px;
    text-align: left;
}

.card-container .card .card-content h2 {
    position: absolute;
    right: 12px;
    top: -20px;
    font-size: 6rem;
    color: rgba(var(--light-alpha), 0.2);
    user-select: none;
}

.card-container .card .card-content h3 {
    font-size: 20px;
    font-weight: 900;
    color: var(--light-color);
    z-index: 1;
    transition: 0.5s;
}

.card-container .card .card-content p {
    font-size: 12px;
    font-family: var(--main-font-family);
    color: var(--light-color);
    z-index: 1;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.card-container .card:hover {
    box-shadow: -70px -10px 5px rgba(var(--shadow-alpha), 0.2);
}

.card-container .card:hover .card-content p {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s;
}

.card-container .card:hover .card-content h3 {
    transform: translateY(0px);
    color: var(--neon-green-color);
    transition: 0.5s;
}

.build-info {
    position: absolute;
    padding: 2em;
    bottom: 0;
}

.build-info p {
    opacity: 0.5;
}

/*End header*/

/*Add Mouse Animations */

.scroll-downs {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
    display: flex;
    width: max-content;
    justify-content: center;
}

.mousey {
    width: 3px;
    padding: 10px;
    height: 20px;
    border: 2px solid var(--light-color);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    margin-top: -2px;
    margin-left: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--light-color);
    animation-name: scroll-down;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

.scroll a:hover>div>div {
    border-color: var(--neon-green-color);
}

.scroll a:hover>div>div>div {
    background-color: var(--neon-green-color);
    box-shadow: 0px 0px 4em 1em var(--neon-green-color);
}

/* End Mouse Animation */

/*Start about*/

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
    margin-top: 10rem;
}

.profile-img img {
    width: 90%;
}

.about-details {
    flex: 1;
}

/* mini map: */

#chartdiv {
    justify-content: center;
    width: 100%;
    height: 300px;
    padding: 2rem 0rem;
    font-family: var(--main-font-family);
    font-size: 16px;
}

#chartdiv g[role=button]:hover g {
    cursor: pointer;
}

#chartdiv g[role=group] {
    cursor: grab;
}

.social-media {
    margin-top: 5rem;
}
.social-right {
    display: none;
}
.social-left {
    margin-right: 10%;
}

.social-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media i {
    font-size: 5rem;
}

.about-details .social-list {
    flex-direction: initial;
    margin-top: -3rem;
}

.fa-linkedin:hover {
    color: #0077B5
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-github:hover {
    color: #FFFFFF
}

.general-link {
    color: var(--blue-color);
}

.general-link:hover {
    color: var(--neon-green-color);
    font-style: italic;
}

.disclaimer {
    font-style: italic;
    font-size: 1.2rem;
}

/*End about*/

/*Start projects*/

#project-gallery {
    height: auto;
    margin-top: -2rem;
    margin-bottom: 5rem;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.project-item:last-child {
    margin-bottom: 0;
}

.project-img {
    flex: 1;
}

.project-description {
    flex: 1;
    margin-left: 5rem;
}

.project-description h1 {
    font-family: var(--fancy-font-family);
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    color: var(--neon-green-color);
}

.project-description h6 {
    font-family: var(--fancy-font-family);
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--neon-green-color);
    opacity: 0.6;
    margin-bottom: 1.5rem;
}

.project-description .cta {
    font-family: var(--fancy-font-family);
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--blue-color);
    opacity: 1;
}

.project-description .cta:hover {
    color: var(--neon-green-color);
    font-style: italic;
}

.project-description .cta::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f56d";
    padding-left: 1rem;
}

.project-description .nta {
    font-family: var(--fancy-font-family);
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--blue-color);
    opacity: 1;
}

.project-description .nta:hover {
    color: var(--neon-green-color);
    font-style: italic;
    cursor: pointer;
}

.project-description .nta::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f360";
    padding-left: 1rem;
}

.project-description dl {
    font-family: var(--main-font-family);
    font-size: 16px;
}

.project-description dl dt {
    margin-top: 1rem;
    color: var(--blue-color);
    opacity: 0.8;
}

.accordion {
    width: 100%;
}

.accordion-item {
    margin: 3rem 0;
}

.accordion-item-header {
    padding-bottom: 1rem;
    display: flex;
    font-family: var(--fancy-font-family);
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--blue-color);
}

.accordion-item-header:hover {
    color: var(--neon-green-color);
}

.accordion-item-header::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
    transform: rotate(-180deg);
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.accordion-item-content {
    padding-left: 0.8rem;
}

.members h3 {
    font-family: var(--fancy-font-family);
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.members ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.8rem;
    justify-content: flex-start;
    align-content: space-between;
}

.members .nonlink {
    font-family: var(--main-font-family);
    text-align: left;
    font-size: 1.4rem;
    color: var(--blue-color);
    opacity: 1;
    list-style-type: square;
}

/* .members .nonlink::before {
content:"•";
margin-left: 0.4ch;
} */

.members ul a {
    font-family: var(--main-font-family);
    text-align: left;
    font-size: 1.4rem;
    color: var(--blue-color);
    opacity: 1;
}

.members ul a:hover {
    color: var(--neon-green-color);
    font-style: italic;
}

.members ul a::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 1rem;
    content: "\f35d";
    margin-left: -1.8rem;
    padding-right: 0.5ch;
}

.downloads a {
    padding-right: 0%;
    margin-right: 5ch;
}

/*End projects*/

.large-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*Define aspect ratios:*/

.ar-widescreen {
    aspect-ratio: 16 / 9;
}

.ar-three-two {
    aspect-ratio: 3 / 2;
}

.ar-ten-eight {
    aspect-ratio: 10 / 8;
}

.ar-square {
    aspect-ratio: 1 / 1;
}


.defaultSwiper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    margin: auto;
    border-radius: 1rem;
    /* box-shadow: 8px 8px 8px rgba(var(--shadow-alpha), 0.4); */
    background-color: black;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: var(--neon-green-color);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.coverflowSwiper .swiper-slide {
    opacity: 60%;
    margin-top: 5rem;
}

.coverflowSwiper .swiper-slide-active {
    opacity: 100%;
}

.coverflowSwiper .swiper-slide:hover {
    opacity: 100%;
}

.coverflowSwiper .swiper-pagination-bullets {
    position: relative;
    margin-top: 2rem;
}

.swiper-slide {
    z-index: 1
}

.swiper-slide a {
    color: var(--blue-color);
}

.swiper-slide a:hover {
    color: var(--neon-green-color);
    font-style: italic;
}

.swiper-slide p {
    position: absolute;
    font-family: var(--fancy-font-family);
    font-weight: 300;
    font-size: 2.4rem;
    left: 50%;
    top: -4rem;
    width: 150%;
    transform: translate(-50%, 0%);
}

.swiper-slide img {
    box-shadow: none;
    border-radius: none;
}

.swiper-slide video {
    width: 100%;
    background-color: #000000;
    height: auto;
}

.video-container {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 600 / 463;
}

/* .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 1.6rem;
    border: 0;
} */

.swiper-button-next:after {
    color: var(--blue-color);
    opacity: 0.6;
}

.swiper-button-next:hover:after {
    color: var(--neon-green-color);
    opacity: 1;
}

.swiper-button-prev:after {
    color: var(--blue-color);
    opacity: 0.6;
}

.swiper-button-prev:hover:after {
    color: var(--neon-green-color);
    opacity: 1;
}

.swiper-pagination-bullet {
    background: var(--blue-color) !important;
    opacity: 0.3 !important;
    transition: all .4s;
}

.swiper-pagination-bullet:hover {
    background: var(--neon-green-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: var(--neon-green-color) !important;
    width: 24px !important;
    border-radius: 4px !important;
    transition: all .4s;
}

/*Start arts*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .image {
    flex: 25%;
    cursor: pointer;
}

.gallery .image img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    transition: 0.4s;
}

.gallery .image:hover img {
    transform: scale(1.2);
    box-shadow: 0px 0px 200px 20px rgba(var(--neon-green-alpha), 0.6);
    transition: 0.4s;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 1400px;
    max-width: 80%;
    max-height: 90%;
}

.mfp-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.mfp-counter {
    font-size: 16px;
}

.mfp-container {
    position: absolute;
}

.mfp-arrow {
    opacity: 0.7;
    color: white;
}

.mfp-arrow:hover{
    opacity: 1;
    color: var(--neon-green-color);
}

.mfp-arrow:before {
    display: none;
}

.mfp-arrow:after {
    border: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 0px 0px 15px var(--shadow-color);
}

.mfp-arrow-right:after {
    content: "\f054";
}

.mfp-arrow-left:after {
    content: "\f053";
}

.mfp-close:hover{
    color: var(--neon-green-color);
    opacity: 1;
}
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

/*End arts*/

/*Start Graphics*/
.Graphics .container{
    width: 100%;
    max-width: 100%;
}

.mySwiper .swiper-wrapper .swiper-slide{
    /* width: fit-content !important; */
    width: max-content;
    border-radius: 1rem;
    overflow: hidden;
}

.mySwiper .swiper-wrapper .swiper-slide a {
    width: auto;
}

.mySwiper .swiper-wrapper .swiper-slide a img{
    opacity: 0.2;
    object-fit: cover;
    height: 30rem;
    transition: 0.4s;
}

.mySwiper .swiper-wrapper .swiper-slide-active a img{
    opacity: 1;
}

.mySwiper .swiper-wrapper .swiper-slide-next a img{
    opacity: 0.5;
}

.mySwiper .swiper-wrapper .swiper-slide-prev a img{
    opacity: 0.5;
}

.mySwiper .swiper-wrapper .swiper-slide a img:hover {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 0px 15px 2px rgba(var(--neon-green-alpha), 0.6);
    transition: 0.4s;
}

.mySwiper .swiper-button-prev{
    margin-left: 10%;
}
.mySwiper .swiper-button-next{
    margin-right: 10%;
}
/*End Graphics*/

/*Start skills*/
.my-skills {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    font-family: var(--fancy-font-family);
    font-size: 2rem;
    color: var(--neon-green-color);
    font-weight: 300;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.skill h2 {
    font-family: var(--fancy-font-family);
    font-size: 2rem;
    color: var(--neon-green-color);
    font-weight: 300;
    letter-spacing: 2px;
    margin: 2rem -2px -2rem 0;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    background-color: var(--darker-color);
    box-shadow: 8px 0px 8px rgba(var(--shadow-alpha), 0.5);
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
    border-radius: 40%;
}

.icon-container i {
    background: linear-gradient(to top, var(--neon-green-color), var(--blue-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

.skill-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.skill-list-item {
    font-family: var(--main-font-family);
    font-size: 1.6rem;
    color: var(--light-color);
}

.skill-list-item a:hover {
    font-style: italic;
    color: var(--neon-green-color);
}

/*End skills*/

/*Start experience*/

.timeline ul {
    border-left: 2px solid rgba(var(--light-alpha), 0.5);
    border-radius: 1.5rem;
    background-color: rgba(var(--darkest-alpha), 0.6);
    box-shadow: 8px 8px 8px rgba(var(--shadow-alpha), 0.5);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1 {
    font-family: var(--fancy-font-family);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    color: var(--neon-green-color);
}

#cancelled {
    color: rgba(223, 116, 116);
    opacity: 0.7;
}

#cancelled h6 {
    color: rgba(223, 116, 116);
    opacity: 0.6;
}

.timeline h2 {
    font-family: var(--subheading-font-family);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--neon-green-color);
    opacity: 0.6;
}

.timeline a {
    color: var(--blue-color);
}

.timeline a:hover {
    font-style: italic;
    color: var(--neon-green-color);
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before, .timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -22rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

/* .timeline .date::after {
    content: '';
    border-left: 2px solid rgba(var(--light-alpha), 0.5);
    ;
    border-radius: 100%;
    left: -8.1rem;
    height: 2rem;
    width: 2rem;
    background-color: rgba(var(--darkest-alpha), 1);
} */

/*End experience*/

/*Start contact*/

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-family: var(--fancy-font-family);
    font-size: 1.6rem;
}

input, select, textarea {
    font-family: var(--fancy-font-family);
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    border-radius: 0.8rem;
    background-color: rgba(var(--darker-alpha), 1);
    box-shadow: inset 3px 3px 2px rgba(var(--shadow-alpha), 0.1);
    outline-color: var(--neon-green-color);
    color: var(--light-color);
}

input[type="submit"] {
    margin-top: 2rem;
    font-family: var(--fancy-font-family);
    font-size: 1.6rem;
    width: initial;
    background-color: rgba(var(--darker-alpha), 1);
    box-shadow: 3px 3px 3px 0px rgba(var(--shadow-alpha), 0.5);
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: none;
    color: var(--neon-green-color);
    background-color: rgba(var(--darkest-alpha), 1);
    box-shadow: inset 3px 3px 2px rgba(var(--shadow-alpha), 0.1);
}

/*End contact*/

/*Start footer*/

.copyright {
    width: 100%;
    text-align: center;
    background-color: rgba(var(--darkest-alpha), 0.9);
    padding: 2px 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: rgba(var(--darkest-alpha), 0.9);
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: var(--blue-color);
    font-size: 2rem;
    margin: auto;
}

.up:hover {
    animation: none;
    box-shadow: 0 0 5rem 0rem var(--neon-green-color);
}

.up:hover>i {
    color: var(--neon-green-color);
    font-size: 3rem;
    margin: auto;
}

.copyright p {
    margin-top: 3rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

/*End footer*/

/*Start animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 1rem 0rem rgba(var(--light-alpha), 1);
    }
    70% {
        box-shadow: 0 0 3rem 2rem rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0);
    }
}

/*End animations*/

/*SECTION Start media queries*/

/*SUBSECTION 1400px*/

@media screen and (max-width: 1400px) {
    .hero-text {
        left: 24%;
    }
}

/*!SUBSECTION 1400px*/

/*SUBSECTION 1150px*/

@media screen and (max-width: 1150px) {
    .hero-text {
        left: 18%;
        top: 26%;
        font-size: 25px;
    }
    .hero-name {
        font-size: 20px;
    }
    .elevated-text {
        font-size: 40px;
    }
    .shadow {
        font-size: 40px;
    }
    .reflection {
        display: none;
    }
}

/*!SUBSECTION 1150px*/

/*SUBSECTION 930px*/

@media screen and (max-width: 930px) {
    header, body {
        background: var(--smaller-background);
        background-attachment: fixed;
        background-size: cover;
    }
    header {
        background: linear-gradient(rgba(var(--darkest-alpha), 0), rgba(var(--darkest-alpha), 0), rgba(var(--darkest-alpha), 0.7))
    }
    #about {
        background: linear-gradient(rgba(var(--darkest-alpha), 0.7), rgba(var(--darkest-alpha), 1))
    }
    #uniprojects {
        background: linear-gradient(var(--darkest-color), var(--dark-color));
    }
    #sideprojects {
        background: linear-gradient(var(--dark-color), var(--dark-color));
    }
    #art {
        background: linear-gradient(var(--dark-color), rgba(var(--darkest-alpha), 1), rgba(var(--darkest-alpha), 1));
    }
    #graphics {
        background: rgba(var(--darkest-alpha), 1);
    }
    #experience {
        background: linear-gradient( rgba(var(--darkest-alpha), 1), rgba(var(--dark-alpha), 0.5));
        padding-bottom: 15rem;
    }
    #skills {
        background: rgba(var(--darkest-alpha), 0.6);
        box-shadow: 0 8px 8px rgba(var(--shadow-alpha), 0.5);
        margin-bottom: 5rem;
    }
    .navbar-list a {
        font-size: 1rem;
    }
    .slider:before {
        font-size: 1rem;
    }
    .slider:after {
        font-size: 1rem;
    }
    .perspective {
        perspective: 6000px;
        perspective-origin: -280% 170%;
        position: relative;
    }
    .hero-text {
        left: 10%;
        top: 25%;
    }
    .hero-first {
        width: 100%;
        text-align: right;
    }
    .hero-name {
        width: 100%;
        justify-content: flex-end;
        text-align: right;
    }
    .middle {
        text-align: right;
    }
    .hero-bottom {
        justify-content: flex-start;
    }
}

/*!SUBSECTION 930px*/

/*SUBSECTION 768px*/

@media screen and (max-width: 768px){
    .hero-top {
        flex-direction: column;
    }
    .hero-bottom {
        justify-content: flex-start;
    }
    .hero-text {
        top: 25%;
        left: 0%;
        font-size: 2.3rem;
    }
    .hero-name {
        font-size: 4rem;
    }
    li {
        margin: 2 rem 0;
    }
    .navbar-link {
        font-size: 1.2em;
        padding-left: 2px;
        padding-right: 2px;
    }
    .nav-link {
        font-size: 4.5rem;
    }
    .scroll-downs {
        display: none;
    }
    .section-heading h1 {
        font-size: 6rem;
        line-height: 95%;
        padding-bottom: 1rem;
    }
    .chartdiv {
        justify-content: left;
    }
    .section-heading h6 {
        font-size: 2.3rem;
        line-height: 100%;
    }
    .about-details .social-list {
        flex-direction: initial;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .icon-container {
        width: 7rem;
        height: 7rem;
    }
    .icon-container i {
        font-size: 4rem;
    }

    .coverflowSwiper .swiper-button-prev{
        display: none;
    }
    .coverflowSwiper .swiper-button-next{
        display: none;
    }

    .mySwiper .swiper-wrapper .swiper-slide a img{
        height: 20rem;
    }
    .mySwiper .swiper-button-prev{
        margin-left: 0;
    }
    .mySwiper .swiper-button-next{
        margin-right: 0;
    }

    .timeline .date:before {
        text-align: left;
        left: 0;
        top: 0em;
        padding-bottom: 2rem;
    }
    .timeline .date:after {
        display: none;
    }
    .timeline ul {
        margin: 0 0 0 auto;
        position: relative;
        padding: 1rem;
        width: 100%;
        border: none;
    }
    .timeline h1 {
        margin-top: 3rem;
    }
    .timeline :last-child {
        margin-bottom: 2rem;
    }
    .gallery .image {
        flex: 33%;
    }
}

/*!SUBSECTION 768px*/

/*SUBSECTION 650px*/

@media screen and (max-width: 650px) {
    .perspective {
        perspective-origin: -400% 200%;
    }
    .hero-text {
        top: 30%;
        left: -20%;
        font-size: 2.3rem;
        color: #7c83ad;
    }
    .section-heading h1 {
        text-align: left;
    }
    .section-heading h6 {
        text-align: left;
    }
    .swiper-slide p {
        display: none;
    }
    .coverflowSwiper .swiper-slide {
        margin-top: 0.5rem;
    }
    .mobile-nav {
        display: flex;
    }
    .mobile-theme-switcher {
        display: flex;
    }
    .mobile-theme-switcher .slider.round::after {
        display: none;
    }
    .mobile-theme-switcher .slider.round::before {
        font-size: 20px;
        align-self: center;
    }
    .menu-toggler {
        display: flex;
    }
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    .navbar {
        display: none;
    }
    .slider:before {
        font-size: 35px;
    }
    .slider:after {
        font-size: 35px;
        font-weight: 500;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }
    .social-right {
        display: flex;
    }
    .social-left {
        display: none;
    }
    .project-item {
        flex-direction: column;
    }
    .project-img {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .defaultSwiper {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .project-description {
        margin: 0;
        order: 2;
    }
    .timeline p {
        font-size: 1.4rem
    }
    .timeline .date::before {
        font-size: 1.4rem
    }
    form {
        width: 100%;
    }
    .up {
        right: 2rem;
    }
    .gallery .image {
        flex: 33%;
    }
    .Graphics .section-heading{
        width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    }

    .mySwiper .swiper-wrapper .swiper-slide a img{
        height: 18rem;
        width: auto;
    }

    .mfp-title {
        font-size: 14px;
        font-weight: 400;
        text-align: left !important;
        max-width: 60%;
    }
    
    .mfp-counter {
        font-size: 14px !important;
    }
}
/*!SUBSECTION End 650px*/

/*SUBSECTION 550px*/
@media screen and (max-width: 550px) {
    body {
        background: var(--smallest-background);
        background-attachment: fixed;
        background-size: cover;
    }
    header {
        background: linear-gradient(rgba(var(--darkest-alpha), 0), rgba(var(--darkest-alpha), 0), rgba(var(--darkest-alpha), 0.7))
    }
    #about {
        background: linear-gradient(rgba(var(--darkest-alpha), 0.7), rgba(var(--darkest-alpha), 1))
    }
    #uniprojects {
        background: linear-gradient(var(--darkest-color), var(--dark-color));
    }
    #sideprojects {
        background: linear-gradient(var(--dark-color), var(--dark-color));
    }
    #art {
        background: linear-gradient(var(--dark-color), rgba(var(--darkest-alpha), 1), rgba(var(--darkest-alpha), 1));
    }
    
    #graphics {
        background: rgba(var(--darkest-alpha), 1);
    }
    #experience {
        background: linear-gradient( rgba(var(--darkest-alpha), 1), rgba(var(--dark-alpha), 0.5));
        padding-bottom: 15rem;
    }
    #skills {
        background: rgba(var(--darkest-alpha), 0.6);
        box-shadow: 0 8px 8px rgba(var(--shadow-alpha), 0.5);
        margin-bottom: 5rem;
    }
    .hero-text {
        position: relative;
        top: 15%;
        left: 0%;
        width: 100%;
        padding: 10px;
        /* hero text primary parent container: */
        width: auto;
        /* all hero text formats: */
        font-family: var(--fancy-font-family);
        font-size: 16px;
        font-weight: 700;
        color: #616991;
        transform-style: flat;
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0) rotateY(0deg) rotateZ(0deg) translateX(0) translateY(0) translateZ(0rem);
    }
    .hero-top {
        flex-direction: row;
        justify-content: flex-end;
    }
    .hero-first {
        width: auto;
    }
    .hero-name {
        width: auto;
    }
    .elevated-text {
        font-size: 25px;
        transform-style: flat;
        transform: translateZ(0px) skew( -20deg);
    }
    .shadow {
        display: none;
    }
    .middle {
        justify-content: flex-start;
    }
    .hero-bottom {
        justify-content: flex-start;
        flex-wrap: wrap;
        left: -20px;
    }
    .card-container {
        width: 120%;
    }
    .card-container .card {
        position: relative;
        min-width: 40%;
        width: min-content;
        height: auto;
        margin: 1rem;
        background: rgba(var(--darkest-alpha), 0.5);
        box-shadow: -5px -2px 2px rgba(var(--shadow-alpha), 0.3);
        border-top: 2px solid rgba(var(--neon-green-alpha), 0.1);
    }
    .card-container .card .card-content {
        padding: 10px;
        align-self: flex-start;
    }
    .card-container .card .card-content h2 {
        font-size: 50px;
        top: -10px;
        right: 5px;
    }
    .card-container .card .card-content h3 {
        font-size: 20px;
        font-weight: 700;
        transition: 0.5s;
        margin-top: 0ch;
        /* font-weight: 800; */
    }
    .card-container .card .card-content p {
        font-size: 16px;
        font-family: var(--fancy-font-family);
        color: var(--light-color);
        z-index: 1;
        transform: translateY(0px);
        opacity: 1;
        color: #616991;
    }
    .build-info {
        bottom: -2px;
        right: 0;
        text-align: right;
    }
    .build-info p {
        font-size: 12px;
    }
    .section-heading h1{
        font-size: 5.5rem;
        hyphens: auto;
    }
}

/*!SUBSECTION 370px*/

/*SUBSECTION 370px*/

@media screen and (max-width: 370px) {
    .landing-text h1 {
        font-size: 6rem;
        padding: none;
    }
}

/*!SUBSECTION 370px*/


/*SUBSECTION  h<700px & w>500px*/
@media screen and (max-height: 800px) and (min-width: 500px) {
    .hero-text{
        transform: scale(0.7);
        top: 8rem;
    }
    .mousey{
        display: none;
    }
}
/*!SUBSECTION  End h<700px & w>500px*/

/*SUBSECTION  h<500px & w>500px*/
@media screen and (max-height: 500px) and (min-width: 500px) {
    .hero-bottom{
        display: none;
    }
}
/*SUBSECTION  End h<500px & w>500px*/

/*!SUBSECTION End h<700px & w>500px*/

/*!SECTION End Media Queries*/

/*ANCHOR Animations*/

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes swipeup {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-40px);
        opacity: 0;
    }
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

