/* import fonts */
@font-face {
font-family: 'lato thin';
src: url(fonts/Lato-Thin.ttf);
font-style: thin;
}

@font-face {
font-family: 'lato';
src: url(fonts/Lato-Light.ttf);
font-style: normal;
}


@font-face {
font-family: 'JetBrainsMono';
src: url('fonts/JetBrains Mono/web/eot/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
src: url('fonts/JetBrains Mono/web/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/JetBrains Mono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/JetBrains Mono/web/woff/JetBrainsMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/JetBrains Mono/ttf/JetBrainsMono-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
font-style: normal;
}

@font-face {
font-family: 'JetBrainsMono';
src: url('fonts/JetBrains Mono/web/eot/JetBrainsMono-Italic.eot'); /* IE9 Compat Modes */
src: url('fonts/JetBrains Mono/web/eot/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/JetBrains Mono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/JetBrains Mono/web/woff/JetBrainsMono-Italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/JetBrains Mono/ttf/JetBrainsMono-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
font-style: italic;
}
/* ScrollBar */
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px black;
background: var(--dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
background-color: #7c83ad; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: linear-gradient(to top, #00ffb3, #009dff); 
}


/* Loading Bar */
.preloader-wrap {
width: 100%;
height: 100%;
position: fixed;
top: 0; 
bottom: 0;
background: var(--dark-color);
z-index : 2; 
}

.percentage {
z-index: 100;
border: none;
text-align:center;
color: #7c83ad;
line-height: 30px;
font-size : 16px;
font-weight: 500;
position: absolute;
top: 51%; 
left: 0; 
right: 0;
}


.loader{
height: 10px;
max-width: 50%; 
border: 2px solid #202331;
border-radius: 50%;
position: absolute; 
top: 0; 
bottom: 0; 
left: 0; 
right: 0;
margin : auto; 
}

.loader:after{
content: "";
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.trackbar {
width: 100%;
height: 100%;
border-radius: 50%;
color: var(--main-txt-color);
text-align: center;
line-height: 30px;
overflow: hidden;
position: relative;
opacity: 0.99;
}

.loadbar {
width: 0%;
height: 100%;
background: linear-gradient(to right,#009dff,#00ffb3); /* Stripes Background Gradient */
position: absolute;
top: 0;
left: 0;
overflow: hidden;
z-index: 2;
}

.glow {
width: 0%;
height: 0%;
box-shadow: 0px -4px 20px 2px #00ffb3;
position: absolute;
animation: animation 5s infinite;
z-index: 1;
}

@keyframes animation {
10% {
    opacity: 0.9;
}
30% {
    opacity: 0.86;
}
60% {
    opacity: 0.8;
}
80% {
    opacity: 0.75;
}
}




/*SECTION  Global*/

/* SECTION Define Variables: */
:root {
--fancy-font-family: 'JetBrainsMono', monospace;
--subheading-font-family: 'lato thin', sans-serif;
--main-font-family: 'lato', sans-serif;

--main-txt-color: #A6ACCD;
--dark-color: #292D3E;

--txt-neon-glow: 0px 0px 0.5em #00ffb3;
}
/* !SECTION */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
max-width: 100%;
overflow-x: hidden;
}

html{
font-size: 10px;
font-family: var(--main-font-family);
color: var(--main-txt-color);
}

body{
width: 100%;
height: 100%;
background-color: var(--dark-color);
background: url("images/background.jpg") no-repeat center fixed;
background-size: cover;
}

section{
padding: 6rem 0;
}

a{
text-decoration: none;
color: var(--main-txt-color)
}

p{
font-size: 1.6rem;
font-weight: 300;
}

img{
width: 100%;
border-radius: 1rem;
box-shadow: 8px 8px 8px #202331;
}
/*!SECTION End global*/

/*Start reusable*/
.container{
width:80%;
max-width: 120rem;
height: 100%;
margin: 0 auto;
position: relative;
}

.section-heading{
text-align: center;
margin-bottom: 5rem;
}

.section-heading h1{
font-family: var(--fancy-font-family);
font-size: 7rem;
color: #444d72;
/* text-shadow: 3px 3px 2px #202331; */
text-transform: uppercase;
font-weight:300;
position: relative;
margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
content: '';
position: absolute;
bottom: -3px;
left: 50%;
transform: translateX(-50%);

}

.section-heading h1::before{
width: 20rem;
height: 3px;
border-radius: 50%;
background: linear-gradient(to right, #009dff, #00ffb3, #009dff);
}

.section-heading h1::after{
width: 1.2rem;
height: 1.2rem;
border-radius: 100%;
bottom: -6.5px;
background: #00ffb3;
}

.section-heading h6{
padding-top: 3px;
font-size: 2rem;
font-family: var(--subheading-font-family);
}

.has-margin-right{
margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header{
width: 100%;
height: 100vh;
}

.header {
position: fixed;
top: 0;
width: 100%;
z-index: 150;
}

.progress-container {
background-color: rgba(0, 0, 0, 0.2);
height: 5px;
width: 100%;
}

.progress-bar {
background: linear-gradient(to left, #00ffb3, #009dff);
height: 5px;
width: 0%;
border-radius: 5px;
}

/* Navbar: */
.navbar {
position: fixed;
top: 0;
width: 100%;
background-color: #202331;
text-align: center;
z-index: 10;
box-shadow: 0px 8px 10px #202331;
text-transform: uppercase;
}

.navbar-list{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
list-style: none;
}

.navbar-link{
font-family: var(--fancy-font-family);
font-size: 1.6em;
position: relative;
color: var(--main-txt-color);
text-decoration: none;
padding-top: 20px;
padding-bottom: 11px;
padding-left: 10px;
padding-right: 10px;
display: inline-block; 
}


.navbar-link:hover,
.navbar-link:focus{
background-color: var(--dark-color);
box-shadow: 0px 8px 10px var(--dark-color);
color: #00ffb3;
font-style: italic;
}

.navbar{
    transform: translateY(-100px);
    animation: 1s forwards 0s 1 slideInFromTop;
    -webkit-animation: 1s forwards 0s 1 slideInFromTop;
    -o-animation: 1s forwards 0s 1 slideInFromTop;
    -moz-animation: 1s forwards 0s 1 slideInFromTop;
    -ms-animation: 1s forwards 0s 1 slideInFromTop;
}

.navbar-item1{
    transform: translateY(-100px);
    animation: 1s forwards 100ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 100ms 1 slideInFromTop;
    -o-animation: 1s forwards 100ms 1 slideInFromTop;
    -moz-animation: 1s forwards 100ms 1 slideInFromTop;
    -ms-animation: 1s forwards 100ms 1 slideInFromTop;
}

.navbar-item2{
    transform: translateY(-100px);
    animation: 1s forwards 300ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 300ms 1 slideInFromTop;
    -o-animation: 1s forwards 300ms 1 slideInFromTop;
    -moz-animation: 1s forwards 300ms 1 slideInFromTop;
    -ms-animation: 1s forwards 300ms 1 slideInFromTop;
}

.navbar-item3{
    transform: translateY(-100px);
    animation: 1s forwards 500ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 500ms 1 slideInFromTop;
    -o-animation: 1s forwards 500ms 1 slideInFromTop;
    -moz-animation: 1s forwards 500ms 1 slideInFromTop;
    -ms-animation: 1s forwards 500ms 1 slideInFromTop;
}

.navbar-item4{
    transform: translateY(-100px);
    animation: 1s forwards 700ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 700ms 1 slideInFromTop;
    -o-animation: 1s forwards 700ms 1 slideInFromTop;
    -moz-animation: 1s forwards 700ms 1 slideInFromTop;
    -ms-animation: 1s forwards 700ms 1 slideInFromTop;
}

.navbar-item5{
    transform: translateY(-100px);
    animation: 1s forwards 900ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 900ms 1 slideInFromTop;
    -o-animation: 1s forwards 900ms 1 slideInFromTop;
    -moz-animation: 1s forwards 900ms 1 slideInFromTop;
    -ms-animation: 1s forwards 900ms 1 slideInFromTop;
}

.navbar-item6{
    transform: translateY(-100px);
    animation: 1s forwards 1100ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1100ms 1 slideInFromTop;
    -o-animation: 1s forwards 1100ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1100ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1100ms 1 slideInFromTop;
}

.navbar-item7{
    transform: translateY(-100px);
    animation: 1s forwards 1300ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1300ms 1 slideInFromTop;
    -o-animation: 1s forwards 1300ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1300ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1300ms 1 slideInFromTop;
}

.navbar-item8{
    transform: translateY(-100px);
    animation: 1s forwards 1500ms 1 slideInFromTop;
    -webkit-animation: 1s forwards 1500ms 1 slideInFromTop;
    -o-animation: 1s forwards 1500ms 1 slideInFromTop;
    -moz-animation: 1s forwards 1500ms 1 slideInFromTop;
    -ms-animation: 1s forwards 1500ms 1 slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
}

@-webkit-keyframes slideInFromTop {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
}

@-o-keyframes slideInFromTop {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
}

@-moz-keyframes slideInFromTop {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
}

@-ms-keyframes slideInFromTop {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
}





/* hamburger menu */
.top-nav{
width: 100%;
height: 100vh;
position: fixed;
top: -150vh;
z-index: 50;
background-color: #202331;
border-bottom-right-radius: 100%;
border-bottom-left-radius: 100%;
transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
list-style: none;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

li{
margin: 0 2rem;
}


.nav-link{
font-family: var(--fancy-font-family);
text-transform: uppercase;
font-size: 4rem;
padding: 1rem; 
}

.nav-link:hover,
.nav-link:focus{
color: #00ffb3;
font-style: italic;
}

.top-nav.open{
top: 0;
border-radius: initial;
}

.navdescription{
display: none;
}

.menu-toggler{
position: fixed;
top: 1.4rem;
right: 2rem;
width: 4rem;
height: 3rem;
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;
z-index: 100;
transition: transform 650ms ease-out;
}

.menu-toggler.open{
transform: rotate(-45deg);
}

.menu-toggler{
display: none;
}

.bar{
background: linear-gradient(to right, #00ffb3, #009dff);
width: 100%;
height: 4px;
border-radius: .8rem;
}

.bar.half{
width: 50%;
} 

.bar.start{
transform-origin: right;
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
align-self: flex-end;
transform-origin: left;
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
transform: rotate(-450deg) translateX(-.8rem);
}


.landing-text{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
z-index: 1;
}

.landing-text h1{
font-size: 16rem;
font-family: var(--fancy-font-family);
background: linear-gradient(to top, #00ffb3, #009dff);
-webkit-background-clip: text;
        background-clip: text;
-webkit-text-fill-color: transparent;
user-select: none;
line-height: 0.9;
padding: 3rem;
word-spacing: -0.2em;
opacity: 0;
}


.landing-text h5{
color: #57aeff;
font-size: 2rem;
font-family: var(--subheading-font-family);
}

.landing-text h6{
font-size: 2rem;
color: #00ffb3;
font-family: var(--subheading-font-family);
opacity: 0;
}

.landing-text h5{
    animation: fade 8s normal forwards;
    -webkit-animation: fade 8s normal forwards;
    -o-animation: fade 8s normal forwards;
}

.landing-text h1{
    animation: fade 8s normal forwards;
    -webkit-animation: fade 8s normal forwards;
    -o-animation: fade 8s normal forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
}

.landing-text h6{
    animation: fade 8s normal forwards;
    -webkit-animation: fade 8s normal forwards;
    -o-animation: fade 8s normal forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fade {
    from {opacity:0;}
    to {opacity:1;}
}
/*End header*/

/*Add Mouse Animations */

.scroll-downs {
position: absolute;
top: 80%;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width :34px;
height: 55px;
}
.mousey {
width: 3px;
padding: 10px;
height: 20px;
border: 2px solid var(--main-txt-color);
border-radius: 25px;
opacity: 0.75;
box-sizing: content-box;
}
.scroller {
    margin-top: -2px;
    margin-left: -3px;
width: 10px;
height: 10px;
border-radius: 50%;
background-color: var(--main-txt-color);
animation-name: scroll;
animation-duration: 2.2s;
animation-timing-function: cubic-bezier(.15,.41,.69,.94);
animation-iteration-count: infinite;
}
@keyframes scroll {
0% { opacity: 0; }
10% { transform: translateY(0); opacity: 1; }
100% { transform: translateY(15px); opacity: 0;}
}

.scroll a:hover > div > div {
    border-color: #00ffb3;
}

.scroll a:hover > div > div > div {
background-color: #00ffb3;
}
/* End Mouse Animation */

/*Start about*/
.about .container{
display: flex;
align-items: center;
justify-content: center;
}

.about-heading{
text-align: center;
text-transform: uppercase;
line-height: 0;
margin-bottom: 6rem;
}


.about-heading h1{
font-family: var(--fancy-font-family);
font-size: 10rem;
color: #3C435E;
font-weight: 300;
/* text-shadow: 3px 3px 1px #202331; */
}

.about-heading h6{
font-family: var(--fancy-font-family);
font-size: 2rem;
font-weight: 50;
color:#00ffb3;
text-shadow: var(--txt-neon-glow);
text-transform: lowercase;
font-style: italic;
}

.profile-img{
flex: 1;
margin-right: 5rem;
}

.about-details{
flex: 1;
}

#chartdiv {
justify-content: center;
width: 100%;
height: 400px;
padding: 2rem;
font-family: var(--fancy-font-family);
font-size: 1.2rem;
}

.social-media {
margin-top: 5rem;
}

.social-list{
list-style: none;
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.social-media i{
font-size: 5rem;
}

.about-details .social-list{
flex-direction: initial;
margin-top: -3rem;
}

.fa-linkedin:hover{
color: #0077B5
}

.fa-instagram:hover{
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
        /* Also define standard property for compatibility */
        background-clip: text;
-webkit-text-fill-color: transparent;

}

.fa-facebook-square:hover{
color: #4267b2
}


.general-link{
color: #009dff
}

.general-link:hover{
color: #00ffb3
}

.disclaimer{
font-style: italic;
font-size: 1.2rem;
}
/*End about*/

/*Start skills*/
.my-skills{
margin-top: 5rem;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem ,1fr));
grid-gap: 2.5rem;
text-align: center;

}

.skill{
display: flex;
flex-direction: column;
align-items: center;
padding: 2rem;
}

.skill h1{
font-family: var(--fancy-font-family);
font-size: 2rem;
color: #00ffb3;
font-weight:300;
letter-spacing: 2px;
margin: 2rem -2px 2rem 0;
}

.skill h2{
font-family: var(--fancy-font-family);
font-size: 2rem;
color: #00ffb3;
font-weight:300;
letter-spacing: 2px;
margin: 2rem -2px -2rem 0;
}

.icon-container{
width: 10rem;
height: 10rem;
background-color: #262a38;
box-shadow: 8px 0px 8px #202331;
margin-bottom: 2rem;
display: flex;
transform: rotate(45deg);
border-radius: 40%;
}

.icon-container i{
background: linear-gradient(to top, #00ffb3, #009dff);
-webkit-background-clip: text;
        background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 5rem;
margin: auto;
transform: rotate(-45deg);

}

.skill-list{
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: var(--main-font-family);
font-size: 1.6rem;
color: var(--main-txt-color);
position: relative;
margin-bottom: 1rem;
}
/*End skills*/

/*Start experience*/
.timeline ul{
border-left: 4px solid #7c83ad;
border-radius: 1.5rem;
box-shadow: 8px 8px 8px #202331;
background-color: #262a38;
margin: 0 auto;
position: relative;
padding: 5rem;
list-style: none;
text-align: left;
width: 70%;
}

.timeline h1{
font-family: var(--fancy-font-family);
text-transform: uppercase;
font-size: 2rem;
font-weight: 100;
color: #00ffb3;
}

#cancelled {
color: rgba(223,116,116);
opacity: 0.7;
}
#cancelled h6{
color: rgba(223,116,116);
opacity: 0.6;
}


.timeline h2{
font-family: var(--subheading-font-family);
font-size: 1.8rem;
margin-bottom: 1rem;
color: #00ffb3;
opacity: 0.6;
}



.timeline .date{
border-bottom: 1px solid rgba(255,255,255,0.1);
margin-bottom: 1rem;
padding-bottom: 1rem;
position: relative;
}

.timeline .date:last-of-type{
padding-bottom: 0;
margin-bottom:0;
border: none;
}

.timeline .date::before,
.timeline .date::after{
position: absolute;
display: block;
top: 50%;
transform: translateY(-50%);
}

.timeline .date::before{
content: attr(data-date);
left: -22rem;
text-align: right;
min-width: 12rem;
font-size: 1.5rem;
}

.timeline .date::after{
content: '';
border-left: 4px solid #7c83ad;
border-radius: 100%;
left: -8.1rem;
height: 2rem;
width: 2rem;
background-color: #262a38;
}
/*End experience*/

/*Start projects*/
.project-item{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 6rem;
}

.project-item:last-child{
margin-bottom: 0;
}

.project-img{
flex: 1;
}

.project-description{
flex: 1;
margin-left: 5rem;
}

.project-description h1{
font-family: var(--fancy-font-family);
font-size: 3rem;
font-weight: 300;
margin-bottom: 0;
color: #00ffb3;
}

.project-description h6{
font-family: var(--fancy-font-family);
font-style: italic;
font-size: 1.8rem;
font-weight: 300;
text-transform: uppercase;
color: #00ffb3;
opacity: 0.6;
margin-bottom: 1.5rem; 
}

.project-description .cta{
font-family: var(--fancy-font-family);
display: inline-block;
margin-top: 1.5rem;
font-size: 1.5rem;
text-transform: uppercase;
color: #009dff;
opacity: 1;
}

.project-description .cta:hover{
color: #00ffb3;
}

.project-description .cta::after {
font-family: "Font Awesome 5 free"; font-weight: 900; content: "\f56d";
padding-left: 1rem;
}

.project-description dl{
font-family: var(--fancy-font-family);
}

.project-description dl dt{
margin-top: 1rem;
color: #009dff;
opacity: 0.8;
}


.members h3{
font-family: var(--fancy-font-family);
display: inline-block;
font-size: 1.5rem;
margin-top: 1.5rem;
font-weight: 300;
text-transform: uppercase;
}
.members ul{
display: flex;
flex-direction: column;
list-style: none;
padding: 0.8rem;
justify-content: flex-start;
align-content: space-between;
}

.members .nonlink {
font-family: var(--fancy-font-family);
text-align: left;
font-size: 1.4rem;
color: #009dff;
opacity: 1;
list-style-type: square;
}

/* .members .nonlink::before {
content:"•";
margin-left: 0.4ch;
} */

.members ul a{
font-family: var(--fancy-font-family);
text-align: left;
font-size: 1.4rem;
color: #009dff;
opacity: 1;
}

.members ul a:hover{
color: #00ffb3;
}

.members ul a::before {
font-family: "Font Awesome 5 free";font-weight: 900; font-size: 1rem; content: "\f35d";
margin-left: -1.8rem;
padding-right: 0.5ch;
}
/*End projects*/

.swiper-container {
width: 100%;
height: 100%;
flex:1;
margin: auto;
border-radius: 1rem;
box-shadow: 8px 8px 8px #202331;
}

.swiper-slide {
text-align: center;
font-size: 18px;
color: #00ffb3;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide{z-index:1}

.swiper-slide img{
box-shadow: none;
border-radius: none;
}

.swiper-button-next:after{
    color: #009dff;
    opacity: 0.6;
}

.swiper-button-next:hover:after{
    color: #00ffb3;
    opacity: 1;
}

.swiper-button-prev:after{
    color: #009dff;
    opacity: 0.6;
}

.swiper-button-prev:hover:after{
    color: #00ffb3;
    opacity: 1;
}

.swiper-pagination-bullet {
    background: #009dff !important;
    opacity: 0.2 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #00ffb3 !important;
}
/*Start arts*/
.gallery-section .gallery{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.gallery-section .image{
flex: 25%;
cursor: pointer;
}

.gallery-section .image img{
width: 85%;
height: 85%;
object-fit: cover;
transition: 0.4s;
}

.gallery-section .image:hover img{
transform: scale(1.2);
box-shadow: 12px 12px 12px #202331;
}

img.mfp-img {
    border-radius: none;
    box-shadow: none;
}

.mfp-counter {
    font-family: var(--fancy-font-family);
    color: #00ffb3 !important;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.mfp-close:hover {
    color: #00ffb3 !important;
    opacity: 1;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #00ffb3 !important;
    padding-right: 10px !important;
}

/*End arts*/

/*Start contact*/

form{
width: 70%;
margin: 0 auto;
}

form label{
font-family: var(--fancy-font-family);
font-size: 1.6rem;
}

input,
select,
textarea{
font-family: var(--fancy-font-family);
width: 100%;
padding: 1rem;
margin-bottom: 5px;
border: none;
border-radius: 0.8rem;
background-color: #262a38;
outline-color: #009dff;
color: var(--main-txt-color);
}

input[type="submit"]{
margin-top: 2rem;
font-family: var(--fancy-font-family);
font-size: 1.6rem;
width: initial;
box-shadow: 5px 5px 5px #202331;
padding: 1rem 2rem;
border-radius: .8rem;
cursor: pointer;
}

input[type="submit"]:hover{
border: none;
color: #00ffb3;
box-shadow: none;
background-color: #202331;
}
/*End contact*/

/*Start footer*/
.copyright{
width: 100%;
text-align: center;
background-color: #202331;
padding: 2px 0;
position: relative;
}

.up{
position: absolute;
width: 5rem;
height: 5rem;
background-color: #202331;
top: -2.5rem;
right: 6rem;
border-radius: 100%;
display: flex;
animation: pulse 2s infinite;
cursor: pointer;
}

.up i{
color: #009dff;
font-size: 2rem;
margin: auto;
}

.up:hover{
background-color: var(--dark-color);
} 

.up:hover > i{
color: #00ffb3;
font-size: 3rem;
margin: auto;
}


.copyright p{
margin-top: 3rem;
font-size: 1.4rem;
margin-bottom: 3rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
0%{
    box-shadow: 0 0 0 0 rgba(0,166, 255, 0.99);
}
70%{
    box-shadow: 0 0 0 2rem rgba(0,166, 255, 0);
}
100%{
    box-shadow: 0 0 0 0 rgba(0,166, 255, 0);
}
}
/*End animations*/

/*Start media queries*/
@media screen and (max-width: 930px) {
.navbar-list a{
    font-size: 1rem;
}
}
@media screen and (max-width: 768px) {
:root {  
    --subheading-font-family: 'lato', sans-serif;
}

body{
    background: url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
}

.landing-text h1{
    font-size: 15rem;
}

.landing-text h5{
    color: #57aeff;
    font-weight: 300;
}

.landing-text h6{
    color: #00ffb3;
    font-weight: 300;
}

li{
    margin: 2 rem 0;
}

.navbar-link{
    font-size: 1.2em;
    padding-left: 2px;
padding-right: 2px;
}
.nav-link{
    font-size: 4.5rem;
}
/* .scroll-downs {
    display: none;
} */
    .mousey {
    border:none;
    }
    .scroller {
    width: 40px;
    height: 40px;
    background-color: #4f5c8d;
    animation-name: swipeup;
    }
    
    
.about-heading h1{
    font-size: 8rem;
}

.section-heading h1{
    font-size: 5rem;
    font-weight: 600;
}

.section-heading h6{
    font-weight: 300;
    font-size: 1.8rem;
}

.about-details .social-list{
    flex-direction: initial;
}

.about-details li{
    margin: 0 2rem;
}

.icon-container{
    width: 7rem;
    height: 7rem;
}

.icon-container i{
    font-size: 4rem;
}


.timeline .date:before{
    text-align: left;
    left: 0;
    top: 0em;
    padding-bottom: 2rem;
}

.timeline .date:after{
    display: none;
}

.timeline ul{
    margin: 0 0 0 auto;
    position: relative;
    padding: 1rem;
    width: 100%;
    border: none;
}

.timeline h1{
    margin-top: 3rem;
}

.timeline :last-child{
    margin-bottom: 2rem;
}
.gallery-section .image{
    flex: 50%;
}
}

@media screen and (max-width: 650px) {
.menu-toggler{
    display: flex;
}

.menu-toggler{
    top: 2rem;
    right: 2rem;
}

.nav-link{
    font-size: 3.5rem;
}

.navbar{
    display: none;
}

.navdescription{
    display: flex;
    font-size: 1.2rem;
    position: absolute;
    top: 27px;
    right: 75px;
    width: 32ch;
    font-family: var(--fancy-font-family);
    font-style: italic;
}

.navdescription i{
    position: relative;
    /* Adjust these values accordingly */
    top: 3px;
    left: 5px;
    }


.navdescription{
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid #00ffb3; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
animation: 
    typing 3.5s steps(31, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 32ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: #00ffb3 }
}
/* .landing-text-container{
    display: flex;
    
} */

.landing-text{
    top: 40%;
}

.landing-text h1{
    font-size: 10rem;
    text-align: left;
    /* padding-left:3rem;
    padding-right:3rem; */
    margin-left: -5px;
    padding: 1rem 0rem 1rem 0rem;
    line-height: 0.9;
    text-transform: uppercase;
}

.last-name:after{
    content: ',';
    margin-left: -15px;
}


.landing-text h5{
    font-size: 1.8rem;
    text-align: left;
    /* padding-left:3rem;
    padding-right:3rem; */
}

.landing-text h6{
    font-size: 1.8rem;
    text-align: left;
    /* padding-left:3rem;
    padding-right:3rem; */
}



/* .scroll-downs {
    display: none;
} */

.about .container{
    flex-direction: column;
}

.profile-img{
    margin: 0 0 7rem 0;
}

.project-item{
    flex-direction: column;
}

.project-img{
    margin: 0 0 2rem 0;
    order:1;
}

.swiper-container {
    margin: 0 0 2rem 0;
    order:1;
}

.project-description{
    margin: 0;
    order:2;
}

.timeline p{
    font-size: 1.4rem
}

.timeline .date::before{
    font-size: 1.4rem
}

form{
    width: 100%;
}

.up{
    right: 2rem;
}

.gallery-section .image{
    flex: 100%;
}
}

@media screen and (max-width: 370px) {
.landing-text h1{
    font-size: 8rem;
    padding: none;
}
}
/*End media queries*/


@keyframes slideInFromLeft {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(0);
}
}

@keyframes swipeup {
0% { opacity: 0; }
10% { transform: translateY(0); opacity: 1; }
100% { transform: translateY(-40px); opacity: 0;}
}